app-username-input {
  min-height: 100vh;
}

.row {
  margin-top: 40vh;
  width: 100%;
}

input {
  width:100%;
}

button {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  width:100%;
}
p {
  text-align: center;
}
 row {
   height: 100vh;
 }
